on: [push]

jobs:
  i18n-coverage:
    runs-on: ubuntu-latest
    name: Run checks
    steps:
      - uses: actions/checkout@v3.1.0
      - id: i18nCoverage
        uses: alexkiro/i18n-coverage@develop
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore-languages: "en"
          min-coverage: "50"
      - name: Get the coverage
        run: echo "The coverage was ${{ steps.i18nCoverage.outputs.coverage }}"